<link rel="stylesheet" href="/css/form.css">
<div class="card">
    <h3>Subscribe to Our Newsletter</h3>
    <form action="/subscribe" method="post">
        <div class="inputbox"> 
            <input type="text" name="name" class="form-control" required="required"> 
            <span>Full Name</span> 
        </div>
        <div class="inputbox"> 
            <input type="email" name="email" class="form-control" required="required">
            <span>Email</span> 
        </div>
        <div class="inputbox"> 
            <input type="text" name="zipCode" class="form-control" pattern="[0-9]{5}" required="required">
            <span>Zip Code</span> 
        </div> 
        <button type="submit" name="submit" class="btn btn-danger btn-block">Subscribe</button>
    </form>
</div>