@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunitio", sans-serif !important;
    color: #f2f2f2;
}

#nav {
    width: 100%;
    height: 110px;
    padding: 20px 0 5px 0;
    border-bottom: solid 8px #ee3114;
    box-shadow: 10px 10px 10px #ccc;
    position: absolute;
    top: 0;
}

#title {
    color: #625a56;
    margin: 0;
    font-family: "Nunitio", sans-serif;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: #333;
    text-decoration: none;
}

#nav a {
    text-decoration: none;
}

.nav-align {
    text-align: center;
    padding: 3px 0;
}

.button {
    background-color: #ee3114;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #ffb99f;
    color: #ed4a0f;
}

.subscriber {
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
  }
  
  .subscriber p {
    margin: 0;
  }
  
  .list-container {
    padding: 0 20px;
    border: 3px solid #697acb;
    border-radius: 1px;
    margin-top: 16em;
    color: #000;
  }
  
  .item-label {
    font-weight: 600;
    font-style: italic;
    margin-right: 5px;
  }


  /* FORM STYLES */
  .form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}


.btn-primary{
  background-color: #6C757D;
  outline: none;
  border: 0px;
   box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: #495056;
  outline: none !important;
  border: none !important;
   box-shadow: none;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}

.mv-up{
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.invalid-feedback{
  color: #ff606e;
}

.valid-feedback{
 color: #2acc80;
}

/* THANKS STYLE */
.card{
  border-radius: 3vh;
  margin: auto;
  max-width: 380px;
  padding: 7vh 6vh;
  align-items: center;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width:767px){
  .card{
      width: 90vw;
  }
}
.card-img{
  padding: 20px 0; 
  width: 40%;  
}

.card-img img{
  opacity: 0.7;
}
.card-title{
  margin-bottom: unset;
}
.card-title p{
  color: rgb(29, 226, 226);
  font-weight: 900;
  font-size: 30px;
  margin-bottom: unset;
}
.card-text p{
  color: grey;
  font-size: 25px;
  text-align: center;
  padding: 3vh 0;
  font-weight: lighter;
}
.btn{
  width: 100%;
  background-color: rgb(29, 226, 226);
  border-color: rgb(29, 226, 226);
  border-radius: 25px;
  color: white;
  font-size: 20px;
}
.btn:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
}
.btn:hover{
  color: white;
}